<footer id="footer" class="footer">
  <a class="footer__button" href="#top"><img src="./assets/images/ico-arrow.svg" alt="Volver arriba"
      title="Volver arriba"></a>
  <div class="footer__container">
    <ul class="footer__sections">
      <li><a class="footer__sections--link" href="https://adalab.es/" target="_blank" title="Go to Adalab">
          Articles</a>
      </li>
      <li> <a class="footer__sections--link" href="https://adalab.es/" target="_blank" title="Go to Adalab">
          Books</a>
      </li>
      <li><a class="footer__sections--link" href="https://adalab.es/" target="_blank" title="Go to Adalab">
          Events</a>
      </li>
      <li><a class="footer__sections--link" href="https://adalab.es/" target="_blank" title="Go to Adalab"> Reason</a>
      </li>
      <li><a class="footer__sections--link" href="https://adalab.es/" target="_blank" title="Go to Adalab"> Tips</a>
      </li>
    </ul>
    <ul class="footer__socialnetworks">
      <li><a class="footer__socialnetworks--link" href="https://adalab.es/" target="_blank" title="Go to Adalab">
          Twitter</a></li>
      <li><a class="footer__socialnetworks--link" href="https://adalab.es/" target="_blank" title="Go to Adalab">
          Instagram</a></li>
      <li><a class="footer__socialnetworks--link" href="https://adalab.es/" target="_blank" title="Go to Adalab">
          Mastodon.social</a></li>
    </ul>
    <small class="footer__small">
      <div>©2021</div> we <span class="footer__small--heart">❤︎</span> components
    </small>
  </div>

</footer>