<footer class="footer">
  <a class="footer__button" href=""><img src="./assets/images/ico-arrow.svg" alt="Scroll up icon"></a>
  <ul class="footer__sections">
    <li>Articles</li>
    <li>Books</li>
    <li>Events</li>
    <li>Reason</li>
    <li>Tips</li>
  </ul>
  <ul class="footer__socialnetworks">
    <li>Twitter</li>
    <li>Instagram</li>
    <li>Mastodon.social</li>
  </ul>
  <small class="footer__small">
    <div>©2021</div> we <span class="footer__small--heart">❤︎</span> components
  </small>
</footer>