<section class="reason">
    <h2 class="reason__title">3 reasons to purchase</h2>
    <ul class="reason__list">
        <li class="reason__list--title">Ut sed metus
        <li class="reason__list--text">Lorem ipsum dolor sit amet, consecteur.</li>
        </li>
        <li class="reason__list--title">Curabitur ac erat
        <li class="reason__list--text">Mauris mattis urna quis lorem molestie.</li>
        </li>
        <li class="reason__list--title">Morbi dictum
        <li class="reason__list--text">Aliquam in dolor et dolor tincidunt.</li>
        </li>
    </ul>
    <a class="reason__button" href="">More reason</a>
</section>