// fonts
$font-text: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;

// colors
$color-burger: #0271bc;
$color-title: #000000;
$color-paragraph: #4a4a4a;
$primary-color: #ffffff;
$secundary-color: #f26002;
$color-footer: #304268;
$color-reason: #eff9ff;
